<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Ensure the page scales correctly on mobile devices by setting the viewport width to the device’s width and the initial zoom level -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>POST BOARD</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>POST BOARD LIST</h1>

    {% if posts %}
    <ul class="board-container">
      {% for post in posts %}
      <li class="card">
        <strong>{{ post.id}}. {{ post.title}}</strong><br />
        {{ post.content}}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are no posts yet</p>
    {% endif %}

    <p><a href="{{ url_for('write_form') }}">write new post</a></p>
  </body>
</html>