<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>Create a new post</h1>

    {# Display error if present #} {% if error %}
    <p class="error">{{ error}}</p>
    {% endif %} {#Post creation form #}
    <form action="{{ url_for('write_post')}}" method="POST">
      <p>
        <label for="title">TITLE:</label><br />
        <input type="text" id="title" name="title" />
      </p>
      <p>
        <label for="content">CONTENT:</label><br />
        <textarea id="content" name="content" rows="5"></textarea>
      </p>

      <button type="submit">SUBMIT</button>
    </form>

    <p><a href="{{url_for('board')}}">← BACK TO LIST</a></p>
  </body>
</html>